$background: #EC407A;
$activeColor: white;
$newActiveStyleColor: green;

body {
    background: $background;
}

img {
    width: 50%;
}

nav {
    .active {
        color: $activeColor;
    }
    .newActiveStyle {
        background: $newActiveStyleColor;
    }
}