$background: #EC407A;
$activeColor: white;
$newActiveStyleColor: green;

body {
    background: $background;
    font-size: 16px;
    h1 {
        text-align: center;
    }

    img {
        width: 50%;
    }
    
    nav {
        .active {
            color: $activeColor;
        }
        .newActiveStyle {
            background: $newActiveStyleColor;
        }
        li {
            list-style-type:  none;
            display: inline-block;
            margin-right: 1rem;
        }
    }
    a {
        text-decoration: none;
    }
}